

<div id="footer">
<span>
    <i class="far fa-copyright"></i>
    Coding Ninjas.
    </span>
<span>All Rights reserved</span>

<span>
    <a href="/">Home</a>
    <a href="/user/profile">Profile</a>
    </span>
</div>