

<div id="footer">

<span>
    <a href="/">Home</a>
    <a href="/user/profile/<%=locals.user.id%>">Profile</a>
    </span>

    <span>All Rights reserved</span>
    <span>
        <i class="far fa-copyright"></i>
        Coding Ninjas.
        </span>
    
    
</div>