
<div id="header">
    <h2> codeial </h2>
    <div id="links">
<ul>
<% if(locals.user) {%>
    <li>
        <a href="/user/profile"><%=user.name%></a></li>
<li><a href="/user/signOut">Sign out</a></li>
    <%}else{%>
        <li>
            <a href="/user/signIn">Sign In</a>
        </li>
        <li>
            <a href="/user/signUp">Sign Up</a>
        </li>
        <%}%>

</ul>
    </div>
</div>