<link href="/css/home.css" rel="stylesheet">


<%if(locals.user){%>


<section id="feed-post">
   <h4>POSTS</h4>

   <form action="/posts/create" id="new-post-form" method="POST">
      <textarea name="content" col='30' rows="5" "text" placeholder="Share your thoughts" required></textarea>
      <button type="submit" name="post">Share</button>

   </form>


   <div id="posts-fetched">
      <ul>
         <%for(var post of locals.posts){%>
         <%- include('_posts',{post:post}) -%>
         <%}%>
         </ul>
      </div>


            </section>

            <section id="users">

               <h4>All Friends</h4>
               <ul>
               <%for(user of all_users){%>
         <li>
            <a href="/user/profile/<%=user.id%>"><%=user.name%></a>
         </li>
         <%}%>
               </ul>
            </section>


            <%}else{%>
         <h4> Sign-in or Register to proced </h4>
         <%}%>
         <script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_like.js"></script>
<script>
   $('.toggle-like-button').each(function(){
      let self=this;
      let toggleLike=new ToggleLike(self);
   });
</script>


         