<h1>SIGN UP PAGE</h1>

<form action="/user/create" method="POST">

    <input type="text" name="name" required placeholder="Name">
    <input type="email" name="email" required placeholder="Email">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">SIGN UP </button>
</form>


<p>
    <a href="/user/auth/google">
        <i class="fab fa-google"></i>
    </a>
</p>