<h1> Sign In User Page</h1>


<form action="/user/create-session" method="POST">
    <input type="email" required name="email" placeholder="Email">
    <input type="password" name="password" required placeholder="Password">
    <button type="submit">SIGN IN</button> 
</form>


<p>
    <a href="/user/auth/google">
        <i class="fab fa-google"></i>
    </a>
</p>